@model Meteo.Models.Package

@{
    ViewBag.Title = "GetData";
}

<h2>GetData</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Future.First().Time_hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Future.First().Time_min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Future.First().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Future.First().Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Future.First().Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Future.First().Humidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Future.First().Charact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Future.First().Wind)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Future)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wind)
            </td>
        </tr>
    }

</table>
